
@font-face {
  font-family: 'Selecta';
  font-style: normal;
  font-weight: 300;
  src: url('../font/Selecta-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Selecta';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Selecta-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Selecta';
  font-style: normal;
  font-weight: 500;
  src: url('../font/Selecta-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Rhymes';
  font-style: normal;
  font-weight: 200;
  src: url('../font/RhymesDisplay-UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Rhymes';
  font-style: normal;
  font-weight: 100;
  src: url('../font/RhymesDisplay-Thin.woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../font/NotoSansKR-Regular.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@font-face {
  font-family: "Cormorant Garamond", serif;;
  src: url();
}