.en{
  font-weight: 400;
  font-family: 'Selecta';
  text-transform: uppercase;
}

.kr{
  line-height: 2.8rem;
  letter-spacing: -0.03em;
}

::selection{
  background: #00ff55;
  color: #fff;
}

.point{
  /* color: #ff5e00; */
  color: #00ff55;
  font-weight: 400;
}

/* 섹션 공통 */
section{
  width: 100%;
  position: relative;
}

.font-display{
  font-family: 'Rhymes', sans-serif;
}

.sec-title{
  text-transform: uppercase;
  color: #fff;
}

/* main_sec */
#main-sec{
  height: 100vh;
  min-height: 100%;
  margin: 0 auto;
}

#main-sec .intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-sec .intro h2{
  font-size: 12rem;
  font-weight: 600;
}

/* about-sec*/
#about-sec{
  min-height: 100vh;
  margin: 0 auto;
}

.img-bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  z-index: 0;
}

#img-sec .img-image,
#img-sec .img-text{
  position: relative;
  z-index: 1;
}

/* text-wrap 공통 */
.text-wrap{
  text-align: left;
  padding: 0 5rem;
}

.text-wrap p.en{
  font-size: 4rem;
  padding-bottom: 3rem;
}

.text-wrap p.en span{
  display: block;
}

.text-wrap p.en span:nth-child(even){
  padding-left: 6rem;
}

.text-wrap p.kr{
  font-size: 1.6rem;
}

#about-sec .about-wrap .text-wrap{
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 10%;
}

/* skill-sec */
#skills-sec{
  min-height: 100vh;
  padding-bottom: 10rem;
  overflow: hidden;
}

.skills-wrap{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}


.skills-wrap .skills{
  z-index: 1;
  font-size: 20rem;
  font-weight: 100;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'Rhymes';
}

.skill-wrap .skills .skill:nth-child(1){
  margin-left: -50rem;
}

.skill-wrap .skills .skill:nth-child(2){
  margin-left: -10rem;
}

.skill-wrap .skills .skill:nth-child(3){
  margin-left: -30rem;
}

.skill-wrap .skills .skill:nth-child(4){
  margin-left: -50rem;
}

.skill-wrap .skills .skill:nth-child(5){
  margin-left: 10rem;
}

.skill-sub {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Selecta';
  line-height: 2;
  vertical-align: flex-end;
  margin-left: 2rem;
  text-transform: none;
  text-align: left;
  text-transform: uppercase;
}

.skill-img {
  display: inline-block;
  width: 0.9em;
  height: 0.75em;
  overflow: hidden;
  vertical-align: center;
  margin: 0 1.5rem;
}

.skill-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* img-sec */
#img-sec{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#img-sec .img-image{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#img-sec .img-image img{
  width: 40%;
  height: 60rem;
  object-fit: cover;
  position: absolute;
  filter: brightness(80%);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#img-sec .img-text{
  position: relative;
  width: 100%;
}

#img-sec .img-text ul{
  text-align: center;
  color: #fff;
  font-size: 3rem;
}

#img-sec .img-text ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#img-sec .img-text ul li .img-box{
  width: 60%;
}

#img-sec .img-text ul li h2{
  font-weight: 100;
  text-transform: uppercase;
  font-size: 4rem;
}

/* #img-sec .img-text ul li .img-box .img-num{
  font-weight: 300;
  font-size: 4rem;
  padding-bottom: 3rem;
} */

#img-sec .img-text ul li .img-box .img-tit{
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12rem;
  padding-bottom: 5rem;
}

#img-sec .img-text ul li .img-box .img-txt.en{
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 3rem;
}

#img-sec .img-text ul li .img-box .img-txt.en span{
  display: block;
  text-align: right;
}

#img-sec .img-text ul li .img-box .img-txt.en span:first-child{
  margin-right: -5rem;
}

#img-sec .img-text ul li .img-box .img-txt.kr{
  font-size: 1.6rem;
  font-weight: 300;
  text-align: right;
}

#img-sec .img-text ul li .img-box .img-txt.kr span{
  display: block;
  text-align: right;
}

#img-sec .img-text ul li .img-box .img-txt.kr span:first-child{
  margin-right: -3rem;
}

/* work-sec */
#work-sec{
  padding: 10rem 0;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#work-sec .work-wrap .text-wrap{
  position: absolute;
  top: 20%;
  left: 40%;
}

/* project-sec */
#project-sec {
  height: auto;
}

#project-sec .project-title h2{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20rem;
  font-weight: 600;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 10rem;
}

.project-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.project {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
}

.project-content {
  width: 100%;
  height: 100%;
}

.project-inner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
}

.project-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-text h3 {
  font-size: 12rem;
  color: #fff;
  font-weight: 400;
}

.project-text p {
  font-size: 1.8rem;
  font-weight: 200;
  padding-bottom: 1rem;
}

.project-btn{
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 200;
  gap: 2rem;
}

.project-btn a{
  border: 1px solid #fff;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
}

.project-btn a:first-child{
  border: 1px solid #00ff55;
  padding: 0.7rem 2rem;
}

.project-btn a:first-child:hover{
  background:#00ff55;
  color: #fff;
  transition: 0.3s;
}

.project-btn a:hover{
  background: #fff;
  color: #333;
  transition: 0.3s;
}

/* hob-sec */
#hob-sec{
  height: auto;
  padding-top: 10rem;
}

.hob-top {
  position: relative;
}
.hob-title {
  text-align: center;
  font-family: "Selecta", sans-serif;
  position: relative;
  font-size: 12rem;
  z-index: 3;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.hob-mid{
  height: 180rem;
  margin-top: -10rem;
  margin-bottom: 22rem;
  position: relative;
}

.hob-img {
  z-index: 2;
  display: block;
  width: 65rem;
  height: 65rem;
  position: sticky;
  margin: 0 auto;
  top: calc(50% - 32.5rem);
  overflow: hidden;
  border-radius: 100%;
}
.hob-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hob-bottom {
  width: 100%;
  overflow: hidden;
}
.hob-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.hob-text p{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 55rem;
  font-weight: 200;
  line-height: 55rem;
  letter-spacing: -0.03em;
}

#list-sec{
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 1024px){
  #img-sec .img-image img{
    width: 80%;
  }

  #img-sec .img-text ul li .img-box .img-tit{
    font-size: 8rem;
  }

  #about-sec .about-wrap .text-wrap{
    left: 0;
  }

  .text-wrap p.en{
    font-size: 3rem;
  }

  .text-wrap p.kr{
    font-size: 1.6rem;
  }

  .skills-wrap .skills{
    font-size: 16rem;
  }

  #work-sec .work-wrap .text-wrap{
    left: 30%;
  }

  #project-sec .project-title h2{
    font-size: 12rem;
  }

  .hob-title{
    font-size: 8rem;
  }

  .hob-mid{
    height: 140rem;
  }

  .hob-img {
  width: 45rem;
  height: 45rem;
  top: calc(50% - 12.5rem);
  }

  .hob-text p{
    font-size: 35rem;
  }
}

@media (max-width: 768px){

  #main-sec .intro h2{
    font-size: 6rem;
  }

  /* work-sec */
  #work-sec{
    padding-top: 4rem;
  }

  /* skills-sec */
  .skills-wrap .skills{
    font-size: 12rem;
    font-weight: 100;
  }

  /* img-sec */
  #img-sec .img-image img{
    height: 50rem;
  }

  #img-sec .img-text ul li .img-box{
    width: 80%;
  }

  #img-sec .img-text ul li .img-box .img-tit{
    font-size: 6rem;
    padding-bottom: 4rem;
  }

  #img-sec .img-text ul li .img-box .img-txt.en{
    font-size: 2rem;
  }

  #img-sec .img-text ul li .img-box .img-txt.en span:first-child{
    margin-right: 0;
  }

  #img-sec .img-text ul li .img-box .img-txt.kr span:first-child{
    margin-right: 0;
  }

  #project-sec .project-title h2{
    font-size: 8rem;
  }

  .project-text h3{
    font-size: 8rem;
  }

  .hob-title{
    font-size: 6rem;
  }

  .hob-img {
  width: 30rem;
  height: 30rem;
  top: calc(50% - 8.5rem);
  }

  .hob-text p{
    font-size: 25rem;
  }
}

@media (max-width: 540px){

  #main-sec .intro h2{
    font-size: 4rem;
  }

  .text-wrap p.en{
    font-size: 2rem;
  }

  .skills-wrap .skills{
    font-size: 10rem;
  }

  #img-sec .img-image img{
    height: 40rem;
  }

  #img-sec .img-text ul li .img-box .img-tit{
    font-size: 4.5rem;
  }

  #img-sec .img-text ul li .img-box .img-txt.en{
    font-size: 1.6rem;
  }

  #work-sec .work-wrap .text-wrap{
    left: 10%;
  }

  #project-sec .project-title h2{
    font-size: 6rem;
  }

  .project-text h3{
    font-size: 4rem;
  }

  .project-text p{
    font-size: 1.2rem;
  }

  .project-btn{
    flex-direction: column;
    align-items: center;
  }

  .project-btn a{
    width: 12rem;
  }

  /* hob-sec */
  .hob-title{
    font-size: 4rem;
  }

  .hob-img {
  width: 30rem;
  height: 30rem;
  top: calc(50% - 8.5rem);
  }

  .hob-text p{
    font-size: 16rem;
  }
}