::selection{
  background: #ff9257;
  color: #fff;
}

.point{
  color: #ff9257;
}

/* main_sec */
#main-sec{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: #000;
  position: relative;
}

#main-sec .intro{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-sec .intro h2{
  width: 100%;
  font-size: 12rem;
  font-family: 'Rhymes';
  font-weight: 600;
  color: #fff;
}

/* about-sec*/
#about-sec .about-wrap{
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 20rem 0;
}

#about-sec .about-wrap .text-wrap{
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 3rem;
  border: 1px solid #000;
  padding-left: 15%;
}


/* strength-sec */
.strength-wrap .strength{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.circle {
  border-radius: 35rem;
  width: 35rem;
  height: 35rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strength-inner:not(.circle) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

.strength-inner .strength-video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.strength-inner .strength-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.strength-inner.circle .strength-title{
  opacity: 0;
}

.strength-inner .strength-title p{
  font-size: 2rem;
  font-weight: 100;
  font-family: 'Rhymes';
  text-transform: uppercase;
  padding-top: 3rem;
}

.strength-inner .strength-title h3{
  font-size: 16rem;
  font-weight: 100;
  font-family: 'Rhymes';
  text-transform: uppercase;
}







